# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jerem\OneDrive - HAN\Han 2020\Lesstof - DEA\Week 3 - Les 2 - Java EE, JAX-RS en REST\SimpleRest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
